<script src="/static/js/jquery-1.12.4.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.meanmenu.js"></script>
<script src="/static/js/modernizr-2.8.3.min.js"></script>
<script src="/static/js/waves.min.js"></script>
<script src="/static/js/wave-active.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/data-table-act.js"></script>
<script src="/static/js/anim.js"></script>